body{
    background-color: #9e9e9e;
    font-family: "Lucida Sans", sans-serif;
}

.menueItem{
    float:left; 
    width:19%;
    height: 7%;
    background-color: #f1f1f1;
    text-align: center;
}

#logoutButton{
    float:left; 
    width:5%;
    height: 7%;
    background-color: #5e5e5e;
    text-align: center;
    border:none
    font-weight: bold;
    font-size: 24px;
}

#logoutButton:focus{
     background-color: #3e3e3e;
}

#logoutButton:hover{
     background-color: #3e3e3e;
}

.menueItem:hover{
    background-color: #a1a1a1;
}

a{
    text-decoration: none;
    color:#000;
    width:100%;
    height: 100%;
}

a:hover{
    background-color: #a1a1a1;
}

.menueItem:focus{
    background-color: #5e5e5e;
}

.footer {
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
