* {
  box-sizing: border-box; /* include margin, border, and padding in size */
  font-family: "Lucida Sans", sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

label{
  display: inline-block;
  width: 100px;
  text-align:right;
  margin-right:5px;
}

input[type=text]{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  position:relative;
  border: 1px solid #ccc;
}

textarea{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #ccc;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.flex-container {
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  font-weight: bold;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari 6.1+ */
  display: flex;
  justify-content: center;
}

.content-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 8px;
  text-align: center;
}

.left-container {
  margin: 0;
  padding: 0;
  font-size: 16pt;
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button-container {
  justify-content: flex-end;
  align-self: flex-end;
  align-items: end;
}

.img {
	width: 50%;
}

* {
  box-sizing: border-box; /* include margin, border, and padding in size */
  font-family: "Lucida Sans", sans-serif;
}

/* Phones: */
.phone-0-cols {width: 0;}
.phone-12-cols {width: 100%;}

/* Desktop: */
@media only screen and (min-width: 750px) {
  .desktop-1-cols {width: 8.33%;}
  .desktop-2-cols {width: 16.66%;}
  .desktop-3-cols {width: 25%;}
  .desktop-4-cols {width: 33.33%;}
  .desktop-5-cols {width: 41.66%;}
  .desktop-6-cols {width: 50%;}
  .desktop-7-cols {width: 58.33%;}
  .desktop-8-cols {width: 66.66%;}
  .desktop-9-cols {width: 75%;}
  .desktop-10-cols {width: 83.33%;}
  .desktop-11-cols {width: 91.66%;}
  .desktop-12-cols {width: 100%;}
}

table{
  margin: 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: right;
  padding: 16px;
}

td {
  text-align: left;
  padding: 16px;
}

li {
  list-style: none;
}

button {
  font-size:20px;
}

button:hover {
  opacity: 0.8;
}