* {
    box-sizing: border-box; /* include margin, border, and padding in size */
    font-family: "Lucida Sans", sans-serif;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
}

.header {
    font-size: 36pt;
    font-weight: bold;
    background-color: #f1f1f1;
    color: #000000;
    padding: 15px;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
    display: flex;
    justify-content: center;
	text-align: center;
}

.logo {
    font-size: 30pt;
    font-weight: bold;
    font-family: Courier New;
    color: #4f99df;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
    display: flex;
    justify-content: center;
    border: 3px solid #4f99df;
    margin-top: 6px;
    margin-bottom: 6px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16pt;
}

.menu li {
    padding: 8px;
    border-style:solid;
    border-color:#000000;
    background-color: #ffffff;
    color: #000000;
}

.menu li:hover {
    background-color: #4f99df;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
	text-align: center;
	color: #000000;
}

.aside {
    background-color: #e2f0e2;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14pt;
}

.aside > div {
    font-size: 24pt;
    font-weight: bold;
    height: 100px;
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color :#008000;
    color: #f1f1f1;
}

.footer {
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

/* Phones: */
.phone-0-cols {width: 0%;}
.phone-12-cols {width: 100%;}

/* Desktop: */
@media only screen and (min-width: 750px) {
    .desktop-1-cols {width: 8.33%;}
    .desktop-2-cols {width: 16.66%;}
    .desktop-3-cols {width: 25%;}
    .desktop-4-cols {width: 33.33%;}
    .desktop-5-cols {width: 41.66%;}
    .desktop-6-cols {width: 50%;}
    .desktop-7-cols {width: 58.33%;}
    .desktop-8-cols {width: 66.66%;}
    .desktop-9-cols {width: 75%;}
    .desktop-10-cols {width: 83.33%;}
    .desktop-11-cols {width: 91.66%;}
    .desktop-12-cols {width: 100%;}
}

table{
	margin: 0 auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

li{
	text-align: center;
}


input[type=text], input[type=password] {
  padding: 12px 20px;
  width: 25%;
  margin: 8px 0;
  left:37%;
  display: inline-block;
  box-sizing: border-box;
  position:relative;
  border: 1px solid #ccc;
 
}

button {
  font-size:20px;
}

button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.studyfinder {
  width: 20%;
}

.container {
  padding: 16px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}